# Compiled source files
*.class
*.o
*.so

# Log files
*.log

# Image files
*.jpg
*.jpeg
*.png
*.gif
*.svg

# docs
docs/
*.txt
*.pdf

# OS-specific files
.DS_Store
Thumbs.db

# Python specific
__pycache__/
*.pyc


